package views

import (
	"strconv"

	"github.com/omareloui/odinls/internal/adapters/jwt"
)

templ ErrorPage(message string, status int, accessClaims *jwtadapter.JwtAccessClaims) {
	@baseLayout("Error | Odin Leather Store", accessClaims) {
		@container() {
			<h1 class="text-2xl mb-2">Error</h1>
			<p>Status: { strconv.Itoa(status) }</p>
			<p>Message: { message }</p>
		}
	}
}
